<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  nzWidth="1000px"
  nzMaskClosable="false"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>
    {{ tittle }} <b>{{ userName }}</b></ng-template
  >

  <ng-template #modalContent>
    <fieldset>
      <div nz-col nzSpan="24">
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>{{ 'function.sign-config.modal-item.code.label' | translate }}</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="validateCode">
              <input
                nz-input
                [(ngModel)]="signConfigCode"
                placeholder="{{ 'function.sign-config.modal-item.code.placeholder' | translate }}"
                required
                pattern="{{ regexCode }}"
                style="text-transform: uppercase"
              />
              <ng-template #validateCode let-control>
                <ng-container *ngIf="control.hasError('required')">
                  {{ 'function.sign-config.modal-item.code.message.required' | translate }}</ng-container
                >
                <ng-container *ngIf="control.hasError('pattern')">
                  {{ 'function.sign-config.modal-item.code.message.pattern' | translate }}</ng-container
                >
              </ng-template>
            </nz-form-control>
          </div>
          <div nz-col nzSpan="12">
            <div [innerHtml]="signPreview"></div>
          </div>
        </div>
      </div>
      <br />
      <h4>{{ 'function.sign-config.modal-item.display-character.label' | translate }}</h4>
      <div nz-col nzSpan="24">
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <label nz-checkbox (ngModelChange)="changeSignAppearance($event, 'logo')" [(ngModel)]="signAppearanceLogo">
              {{ 'function.sign-config.modal-item.signappearancelogo.label' | translate }}
            </label>
            <nz-upload
              [nzShowUploadList]="false"
              (nzChange)="handleChange($event, 'logo')"
              [nzMultiple]="false"
              [nzLimit]="1"
              [nzAction]="fileUploadUrl"
              nzFileType="image/png,image/jpeg"
              nzAccept="image/png,image/jpeg"
            >
              <button [disabled]="!signAppearanceLogo || isInfo" type="button" nz-button>
                <i nz-icon nzType="upload"></i>
                {{ 'layout.button.btn-upload.label' | translate }}
              </button>
            </nz-upload>
            <canvas id="canvas-draw-logo" height="200px" width="400px" class="canvas"></canvas>
          </div>
          <div nz-col nzSpan="12">
            <label nzSpan="24" [(ngModel)]="signAppearanceImage" (ngModelChange)="changeSignAppearance($event, 'image')" nz-checkbox>
              {{ 'function.sign-config.modal-item.signappearanceimage.label' | translate }}
            </label>
            <nz-upload
              [nzShowUploadList]="false"
              (nzChange)="handleChange($event, 'image')"
              [nzMultiple]="false"
              [nzLimit]="1"
              [nzAction]="fileUploadUrl"
              nzFileType="image/png,image/jpeg"
              nzAccept="image/png,image/jpeg"
            >
              <button [disabled]="!signAppearanceImage || isInfo" type="button" nz-button>
                <i nz-icon nzType="upload"></i>
                {{ 'layout.button.btn-upload.label' | translate }}
              </button>
            </nz-upload>
            <canvas id="canvas-draw-image" height="200px" width="400px" class="canvas"></canvas>
          </div>
        </div>
      </div>
      <div nz-row>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <br />
          <nz-form-label nzFor="" nzSpan="24">
            {{ 'function.sign-config.modal-item.sign-config-profile' | translate }}
          </nz-form-label>
          <nz-checkbox-wrapper style="width: 100%">
            <div nz-row>
              <div nz-col nzSpan="6" *ngFor="let item of listSignInfo">
                <label
                  nz-checkbox
                  [(ngModel)]="item.value"
                  [ngModelOptions]="{ standalone: true }"
                  [nzDisabled]="isInfo"
                  (ngModelChange)="signInfoChange($event, item.code)"
                  >{{ item.label }}</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </nz-form-control>
      </div>
      <div nz-col nzSpan="24" style="margin-top: 10px">
        <div nz-row>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>
                {{ 'function.organization.organization-report.modal-item.background-image' | translate }}
              </nz-form-label>
              <nz-form-control>
                <nz-upload
                  [nzShowUploadList]="false"
                  (nzChange)="handleFileChange($event)"
                  [nzMultiple]="false"
                  [nzLimit]="1"
                  [nzAction]="fileUploadUrl"
                  class="avatar-uploader"
                  nzListType="picture-card"
                  [nzAccept]="'image/png, image/jpeg'"
                >
                  <ng-container *ngIf="!backgroundImageUrl">
                    <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                    <div class="ant-upload-text">
                      {{ 'function.organization.organization-config.modal-item.upload.label' | translate }}
                    </div>
                  </ng-container>
                  <img *ngIf="backgroundImageUrl" [src]="backgroundImageUrl" style="width: 100%" />
                </nz-upload>
                <button
                  (click)="deleteBackgroundImage($event)"
                  *ngIf="isVisibleDeleteBackgroundImg"
                  style="position: absolute; top: -15px; left: 87px; z-index: 999999999999999"
                  nz-button
                  nzType="default"
                  nzShape="circle"
                >
                  <i nz-icon nzType="close"></i>
                </button>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-item>
              <nz-form-label [nzFor]="moreInfo">
                {{ 'function.organization.organization-report.modal-item.more-info.label' | translate }}
              </nz-form-label>
              <nz-form-control>
                <input
                  type="text"
                  nz-input
                  [(ngModel)]="moreInfo"
                  placeholder="{{ 'function.organization.organization-report.modal-item.more-info.placeholder' | translate }}"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="10">
        <label style="margin-top: 20px" [ngModelOptions]="{ standalone: true }" nz-checkbox [(ngModel)]="isSignDefault"
          ><span class="sign-default-text">
            {{ 'function.sign-config.modal-item.sign-default-text.label' | translate }}
          </span></label
        >
      </div>
    </fieldset>

    <nz-row style="justify-content: end; padding-top: 10px; padding-bottom: 10px">
      <button
        nz-button
        nzType="primary"
        class="btn-primary"
        *ngIf="!isInfo && btnSave.visible && btnSave.grandAccess"
        [nzLoading]="isLoading"
        (click)="btnSave.click($event)"
      >
        <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSave.titlei18n }}
      </button>
      <button
        nz-button
        nzType="primary"
        class="btn-warning"
        *ngIf="btnRenew.visible && btnRenew.grandAccess"
        (click)="btnRenew.click($event)"
      >
        <i nz-icon nzType="reload" nzTheme="outline"></i>{{ btnRenew.titlei18n }}
      </button>
    </nz-row>

    <nz-row>
      <nz-col nzSm="16" nzXS="24" nzMd="16" class="padding-bottom-10">
        <button
          nz-button
          nzType="default"
          (click)="btnReload.click($event)"
          class="btn-reload"
          *ngIf="btnReload.visible && btnReload.grandAccess"
        >
          <i nz-icon nzType="reload" nzTheme="outline"></i>{{ btnReload.titlei18n }}
        </button>
        <button
          nz-button
          nzType="primary"
          class="btn-danger"
          (click)="btnDelete.click($event)"
          *ngIf="btnDelete.visible && btnDelete.grandAccess"
        >
          <i nz-icon nzType="delete" nzTheme="fill"></i>{{ btnDelete.titlei18n }}
        </button>
      </nz-col>
      <nz-col nzSm="8" nzXS="24" nzMd="8" class="pull-right padding-bottom-10">
        <nz-input-group nzSearch>
          <input
            type="text"
            style="text-align: left"
            [(ngModel)]="filter.textSearch"
            nz-input
            placeholder="{{ 'layout.grid.search.text-search.placeholder' | translate }}"
            (keyup.enter)="initGridData()"
          />
        </nz-input-group>
      </nz-col>
    </nz-row>
    <nz-row>
      <ag-grid-angular
        #agGrid
        style="width: 100%; height: 50vh"
        id="unit-grid"
        class="ag-theme-alpine"
        [modules]="modules"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [rowData]="grid.rowData"
        (selectionChanged)="onSelectionChanged($event)"
        (cellDoubleClicked)="onCellDoubleClicked($event)"
        [overlayLoadingTemplate]="overlayLoadingTemplate"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        [frameworkComponents]="frameworkComponents"
        [excelStyles]="excelStyles"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
      <hr />
    </nz-row>
    <app-ag-grid-pagination
      [grid]="grid"
      [filter]="filter"
      [pageSizeOptions]="pageSizeOptions"
      (pageNumberChange)="onPageNumberChange()"
      (pageSizeChange)="onPageSizeChange()"
    ></app-ag-grid-pagination>
  </ng-template>

  <ng-template #modalFooter>
    <!-- <button
      nz-button
      nzType="primary"
      class="btn-primary"
      *ngIf="!isInfo && btnSave.visible && btnSave.grandAccess"
      [nzLoading]="isLoading"
      (click)="btnSave.click($event)"
    >
      <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSave.titlei18n }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="btn-warning"
      *ngIf="btnRenew.visible && btnRenew.grandAccess"
      (click)="btnRenew.click($event)"
    >
      <i nz-icon nzType="reload" nzTheme="outline"></i>{{ btnRenew.titlei18n }}
    </button> -->
    <button nz-button nzType="primary" class="btn-danger" *ngIf="btnClose.visible && btnClose.grandAccess" (click)="btnClose.click($event)">
      <i nz-icon nzType="close-circle" nzTheme="fill"></i>{{ btnClose.titlei18n }}
    </button>
  </ng-template>
</nz-modal>
<delete-modal #deleteModal [isVisible]="isShowDelete" (eventEmmit)="onDeleteEventEmmit($event)"></delete-modal>
